
/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "moderna";
}

/* Estilos para tags de âncora */
a {
    text-decoration: none;
}

/* Importação de fonte */
@font-face {
    font-family: "moderna";
    src: url("static/Urbanist-Regular.ttf");
}

/* Variáveis raiz */
:root {
    --color1: #daf3ea;
    --color2: #72d9bb;
    --color3: #35c594;
    --color4: #142c4c;
    --color5: #0d0f36;
    --padding-1: 30px;
    --padding-2: 60px;
    --padding-3: 180px;
}

/* Container 1 */
.container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--padding-2);
    padding-bottom: var(--padding-1);
    margin-bottom: 15vh;
    background: linear-gradient(to bottom, var(--color2), var(--color1));
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px) saturate(300%);
}

/* Box 1 */
.box-1 {
    width: 40%;
    padding: 15px;
    font-size: clamp(25px, 2vw, 50px);
    color: var(--color5);
}

.box-1 p,
.box-1 div {
    margin-top: var(--padding-1);
}

/* Botão Get Started */
.get-started a {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 10px 0 0 0;
    color: var(--color4);
    border: solid var(--color1) 3px;
    box-shadow: 3px 3px 8px var(--color4);
    background-color: var(--color1);
    font-weight: 600;
}

.get-started a:hover {
    cursor: pointer;
    box-shadow: none;
    background: var(--color2);
    color: var(--color1);
    border: solid var(--color3) 3px;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
}

#imgLogo {
    animation: moveUpDown 3s infinite alternate;
    width: clamp(200px, 35vw, 400px);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

/* Seção Resumo */
.overview {
    text-align: center;
    font-size: 30px;
    background-color: var(--color1);
    color: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
}

/* Linha */
.row {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: var(--padding-2);
    font-size: clamp(16px, 1.5vw, 24px);
}

.row h2 {
    padding: var(--padding-1);
}

/* Container de Recursos */
.container-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    /* border: dotted red 3px; */
}

/* Recursos */
.features {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

/* Ícones de Recursos */
.icon-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 100%;
}

/* Barra de Recursos */
.wall-features {
    position: absolute;
    background-color: var(--color3);
    width: clamp(70vw, 65vw, 60vw);
    height: 17%;
    z-index: 0;
}

/* Texto de Recursos */
.text-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 50%;
    width: 100%;
}

/* Tópico */
.topic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 70%;
    font-size: clamp(12px, 1vw, 24px);
    z-index: 10;
}

.topic>img {
    display: flex;
    width: clamp(125px, 10vw, 250px);
}

.topic>h2,
.topic p {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

/* Container MVV */
.container-mvv {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color5);
    background: var(--color1);
    padding-bottom: 300px;
}

/* Opções MVV */
.opcoes-mvv {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 3% 10%;
    justify-content: space-between;
    align-items: center;
}

.opcoes-mvv button {
    display: flex;
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    border: none;
    width: 30%;
    height: 50px;
    transition: 0.3s;
}

#missao:hover,
#visao:hover,
#valores:hover {
    cursor: pointer;
    transform: translateY(-10px);
    font-size: 22px;
    border-bottom: solid 2px var(--color5);
}

#mvv {
    display: flex;
    width: 100%;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

#missaotxt,
#visaotxt,
#valorestxt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    border: solid 1px var(--color3);
    border-radius: 10px;
    width: 60%;
}