* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 24px;

  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 15px;

  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 15px;

  --drop-shadow-subtle: 2px 2px 5px rgba(0, 0, 0, 0.2);
  --drop-shadow-moderate: 4px 4px 10px rgba(0, 0, 0, 0.3);
  --drop-shadow-strong: 6px 6px 15px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

a {
    color:rgb(239, 248, 245);
    text-decoration: none;
}

.page {
    display: flex;
}

.sidebar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 25%;
    height: 100vh;
    background: rgb(65, 124, 128);
    box-shadow: var(--drop-shadow-subtle);
}

.sidebar h1 {
    margin: var(--padding-large);
    color: rgb(217, 240, 232);
}

.sidebar .top-container {
    color: rgb(239, 248, 245);
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar .pic-container {
    background: rgb(114, 217, 187);
    padding: var(--padding-medium);
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .pic-container .status {
    font-size: var(--font-size-medium);
    margin: 0 var(--margin-large)
}

.sidebar .pic-container .status p span {
    color: green;
    position: relative;
    top: 2px;
    margin: 0 var(--margin-small);
    font-size: var(--font-size-large);
}

.sidebar .pic-container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-items .nav-item a {
    width: 100%;
    font-size: var(--font-size-large);
    margin: 0 var(--margin-medium);
}

.nav-items .nav-item i {
    margin: 0 var(--margin-medium);
    font-size: calc(var(--font-size-large));
}

.sidebar .bottom-container {
    height: 100%;
    width: 100%;
    background-color: inherit;
}

.sidebar .nav-items {
    color:rgb(239, 248, 245);
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: var(--padding-large) 0;
    justify-content: space-between;
}

.sidebar .nav-item {
    display: flex;
    align-items: center;
    height: 60px;
    transition: .2s ease all;
}

.sidebar .nav-item.active {
    background: rgb(114, 217, 187);
}

.sidebar .nav-item:hover:not(.active) {
    background: rgba(114, 217, 187, 0.4);
}

.main {
    overflow: hidden;
    background-color: rgb(217, 243, 234);
    width: 75%;
    height: 100vh;
}

.main h1 {
    color: rgb(16, 40, 66);
    width: 100%;
    padding: var(--padding-large);
}

.main .user-data {
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 var(--margin-large) var(--margin-large) var(--margin-large);
}

.main .subjects {
    padding: 0 var(--padding-large);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main .subjects li {
    color: rgb(239, 248, 245);
    padding: var(--padding-large);
    border-radius: 10px;
    background: rgb(66, 121, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .subjects li span {
    margin: 0 var(--margin-large);
}

.main canvas {
    margin-top: var(--margin-large);
}