* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "moderna";
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "moderna";
    src: url("static/Urbanist-Regular.ttf");
}

:root {
    --nav-color: #142c4c;
    --body-bg: #daf3ea;
    --body-bg2: #72d9bb;
    --text-color: #0d0f36;
    --about-us: #35c594;
    --padding-1: 30px;
    --padding-2: 60px;
    --padding-3: 180px;
}

.dark-mode:root {
    --body-bg: #142d4c;
    --body-bg2: #0d0f36;
    --text-color: #dcf2ef;
    --about-us: #35c594;
}

html{
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--body-bg);
    height: 100%;
    width: 100%;
}

#nav {
    display: flex;
    background: var(--nav-color);
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#nav>input {
    display: none;
}

#nav ul {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 30%;
}

#nav ul li {
    align-items: center;

}

#inicio {
    color: white;
    font-size: 25px;
    padding: 5px;
    border: solid 2px white;
    border-radius: 5px;
    margin-left: 30px;
    transition: 0.25s;
}

#inicio:hover {
    cursor: pointer;
}

#nav ul li a {
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#nav ul li a:hover {
    color: var(--body-bg2);
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--padding-1);
    background: linear-gradient(to bottom, var(--body-bg2), var(--body-bg));
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px) saturate(300%);
    padding-top: var(--padding-1);
}

.container1 .logo {
    margin-top: var(--padding-1)
}

.box-1 {
    width: 450px;
    font-size: 30px;
    color: var(--text-color);
    margin-right: 100px;
    text-shadow: 3px white;
}

.box-1 p {
    margin-top: var(--padding-1);
}

.box-1 div {
    margin-top: var(--padding-1);
}

.get-started a {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px 10px 28px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 10px 0 0 0;
    color: var(--nav-color);
    border: solid var(--about-us) 3px;
    box-shadow: 3px 3px 8px var(--text-color);
    background-color: var(--body-bg2);
    font-weight: 600;
}

.get-started a:hover {
    cursor: pointer;
    box-shadow: none;
    background: var(--nav-color);
    color: var(--body-bg);
    border: solid var(--body-bg2) 3px;
}

.container1>img {
    filter: blur(5px);
}

#imgFundo {
    animation: moveUpDown 3s infinite alternate;
    max-width: 450px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(20px);
    }
}

#caderno {
    position: absolute;
    left: -280px;
    top: 350px;
    width: 400px;
    transform: rotate(15deg);
    z-index: -1;
}

#tachinhavermelha {
    position: absolute;
    left: 1160px;
    top: 500px;
    width: 50px;
    /* transform: rotate(-45deg); */
    z-index: -1;
}

#tachinhaamarela {
    position: absolute;
    left: 50px;
    top: 250px;
    width: 50px;
    transform: rotate(-45deg);
    z-index: -1;
}

#postit {
    position: absolute;
    left: 500px;
    top: 500px;
    width: 300px;
    /* transform: rotate(-45deg); */
    z-index: -1;
}

#teclado {
    position: absolute;
    left: -150px;
    top: 25px;
    width: 300px;
    transform: rotate(-10deg);
}

#lapis {
    position: absolute;
    left: -20px;
    top: 270px;
    width: 100px;
    transform: rotate(50deg);
    z-index: -1;
}

#caneta {
    position: absolute;
    left: 850px;
    top: 600px;
    width: 200px;
    transform: rotate(-180deg);
    z-index: -1;
}

#tachinhaazul {
    position: absolute;
    left: 150px;
    top: 250px;
    width: 50px;
    z-index: -1;
}

.scroll-image {
    transition: transform 0.5s ease;
    z-index: -2;
}

.about-us {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to bottom, transparent, var(--body-bg));
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    /* background: linear-gradient(to bottom, #bfdddb, #35c594); */
}

.row {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    padding-bottom: var(--padding-2);
}

.row h2 {
    padding: var(--padding-1);
}

.about-us2 {
    display: flex;
    flex-direction: row;
    font-size: medium;
    background-color: var(--about-us);
}

#topic {
    width: 400px;
    padding: 50px;
    height: 300px;
}

.about-us2>div>img {
    width: 300px
}

.container-mvv {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--body-bg);
    background: var(--body-bg);
    padding-bottom: 300px;
}



.opcoes-mvv {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 3% 10%;
    justify-content: space-between;
    align-items: center;
}


.opcoes-mvv button{
    display: flex;
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--body-bg);
    border: none;
    width: 30%;
    height: 50px;
}

#missao:hover,
#visao:hover,
#valores:hover{
    cursor: pointer;
    transform: translateY(-10px);
    font-size: 22px;
    border-bottom: solid 2px var(--text-color);
}

#mvv{
    display: flex;
    width: 100%;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#missaotxt, #visaotxt, #valorestxt{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    border: solid 1px var(--body-bg2);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    color: var(--text-color);
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

/* CADASTRO */

.container-cadastro {
    color: var(--text-color);
    background: linear-gradient(#daf3ea, #daf3ea, #72d9bb);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.info-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 50%;
    height: 100%;
}
.info-cadastro > h1{
    font-size: 30px;
    text-align: center;
}
.info-cadastro p{
    text-align: justify;
    width: 75%;
}

.info-cadastro img {
    width: 300px;
    margin-bottom: 25px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}

.texto-cadastro{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

form p {
    display: flex;
    margin-bottom: 2%;
    width: 70%;
}

form p input {
    border: none;
    padding: 10px;
    width: 100%;
    background-color: var(--body-bg2);
    border-radius: 5px;
    font-size: 16px;
}

form p input::placeholder {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 700;
    opacity: 80%;
}

.foto {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
}

#idfoto {
    display: flex;
    margin-bottom: 2%;
    width: 70%;
}

#idfoto:hover {
    cursor: pointer;
}
.foto > p >label{
    border: none;
    padding: 10px;
    width: 100%;
    background-color: var(--body-bg2);
    border-radius: 5px;
    font-size: 16px;
}
#botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

input:is([type="file"]) {
    display: none;
}

input:is([type="date"]) {
    color: var(--nav-color);
    font-size: 16px;
    text-indent: 5px;
    padding: 7px 0;
}

input:is([type="submit"]) {
    width: 200px;
    font-size: 18px;
    background: var(--body-bg2);
    border-radius: 5px;
}

input:is([type="submit"]):hover {
    cursor: pointer;
}

.termos-priv{
    font-size: 12px;
    width: 110%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.termos-priv p{
    height: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.termos-priv p a{
    padding-left: 3px;
}

.opc-mvv {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.opc-mvv input[type=button] {
    display: none;
}

.opc-mvv label {
    display: block;
    color: black;
    margin: 50px;
}

#container-mvv {
    color: black;
    font-size: larger;
    width: 80%;
    text-align: center;
    align-items: center;
}


/* --Listar-- */

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.card {
    display: grid;
    grid-template-columns: 35% 55%;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 250px;
    border: solid var(--text-color) 2px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.ftcliente {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ftcliente img {
    max-width: 70%;
    max-height: 100%;
}

.info-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    margin: 25px 0px;
}

.botoes-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-top: 35px;
}

.botoes-card img {
    max-width: 35px;
}

/* login */

.container-login{
    display: flex;
    height: 90VH;
    width: 100%;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#daf3ea,#daf3ea, #72d9bb);
}

#img_login{
    max-width: 200px;
    animation: moveUpDown 4s infinite alternate;
    margin-bottom: 30px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.login input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
#bt_login{
    background: var(--about-us);
}


/* materias */

.container-materias{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
    justify-content: start;
}

.categorias-materias{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #72d9bb;
    border-right: solid 1px #0d0f36;
}

.categorias-materias p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 800;
    opacity: 90%;
    color: #0d0f36;
    font-size: 27px;
}

.categorias-materias ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d0f36;
    opacity: 65%;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
}

.categorias-materias ul li{
    padding: 10px 30px;
    border-radius: 10px;
    width: 92%;
    transition: 0.5s;
}

.categorias-materias ul li:hover{
    background: #35c594;
    font-size: 20px;
    cursor: pointer;
}

.materias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 50px;
}

.card-materias{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 60%;
    width: 31%;
    border: solid 2px var(--text-color);
    border-radius: 10px;
    background: var(--body-bg2);
    overflow: hidden;
}

.ft_materia{
    width: 100%;
    height: 15vh;
    overflow: hidden;
}

.info-card-materias{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
    overflow: hidden;
}

#titulo-materias{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

#descricao-materias{
    font-size: 14;
    font-weight: 600;
    opacity: 70%;
}

/* QUIZZES */
#containnerquiz{
    height: 100vh;
    background-image: url(assets/backgroundquiz.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quest{
    width: 500px;
    height: 400px;
    left: 110px;
    top: 150px;
    background-color: var(--body-bg2);
    border: 1px solid #ccc;
    margin: var(--padding-1);
  
}

#quest_content{
    background-color: var(--interface);
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.quizopc{
    width: 300px;
    height: 400px;
    
}

.quizopc > form{
    align-items: center;
    justify-content: center;
    
}

.quizopc > form> input{
    height: 25px;
    width: 200px;
    margin: 5px;
    background-color: var(--body-bg);
    border: 0;
}


#enviaresp{
    align-items: center;
    justify-content: center;
}

#prox{
    display: none;
}

.centralizado{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#enviaresp, #prox{
    height: 25px;
    width: 200px;
    margin: 5px;
    background-color: var(--body-bg);
    border: 0;

}